* 
	margin: 0 auto
	section
		margin: 0 auto
		width: 100%
		height: auto
		background-color: #5A048E
		padding-left: 44%
		box-sizing: border-box
		font: italic 300 1em/1.2em Helvetica
		h1
			font: italic 300 35px/35px Helvetica
		#checkbox
			display: inline
	nav
		margin: 0 auto
		width: 100%
		height: auto
		background-color: #FFFF80
		padding-left: 44%
		box-sizing: border-box
		font: italic 300 1em/1.2em Helvetica		
	#foro
		margin: 0 auto
		width: 100%
		height: auto
		padding-left: 44%
		box-sizing: border-box
		font: italic 300 1em/1.2em Helvetica
		.hombre
			background-color: #00FFFF
		.mujer
			background-color: #F369E9
.picante
	display: none
		